.all-comments-container{
  display: flex;
  flex-flow: column;
}
.comment-avatar{
  border-radius: 50%;
  width: 9vh;
  height: 9vh;
  margin: 1vw 0 1vw 3vw;
}
.comment-container{
  display: flex;
  align-items: center;
  font-size: 2vh;
  height: 10vh;
}
.comment-username{
  font-weight: bold;
  margin-left: 2vw;
}
.comment-text{
  width: 90%;
  height: 10vh;
  font-size: 2vh;
  border: 1px solid black;
  
}
.comment-button{
  align-self: flex-end;
  border-radius: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vh;
  margin-top: 2vh;
  margin-right: 5vw;
  width: 30%;
  height: 5vh;
  background-color: var(--primary);
}
.add-comment-form{
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  margin: 3vh 0;
}
.comment{
  margin-left: 2vw;
}