 .feed-img{
  width: 100vw;
  /* height: 100vw; */
} 
.feed-avatar{
  border-radius: 50%;
  width: 9vh;
  height: 9vh;
  margin: 1vw 3vw;
}
.all-feed-container{
  padding-bottom: 7vh;
}
.feed-avatar-link{
  font-size: 4vh;
}
.feed-avatar-container{
  display: flex;
  align-items: center;
}
.feed-name-container{
  display: flex;
  flex-flow: column;
  font-size: 3vw;
  color: var(--grey);
}
.like-button-img{
  height: 5vh;
  width: 5vh;
  margin-right: 1vh;
}
.feed-name-container{
  width: 65vw;

}
.feed-name-container a{
  text-decoration: none;
}
.feed-interaction-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3vh;
  
}
.feed-comments-and-likes{
  color: var(--grey);
}
.feed-comments-and-likes-container{
  display: flex;
}
.feed-interaction-container div{
  margin-left: 1vh;
  color: var(--grey);
}
.feed-interaction-container a{
  text-decoration: none;
}
.feed-description{
  padding: 0 1vh 10vh 1vh;
  font-size: 38px;
}
.feed-description p{
  font-size: 38px;
}
.feed-edit{
  height: 5vh;
  width: 5vh;
  margin-left: 0vw;
}
.hidden{
  display: none;
}
.like-button{
  border: 0;
  background-color: white;
  
}