.feed-img{
  width: 100vw;
  height: 100vw;
}
.feed-avatar{
  border-radius: 50%;
  width: 9vh;
  height: 9vh;
  margin: 1vw 3vw;
}
.feed-avatar-link{
  font-size: 4vh;
}
.feed-avatar-container{
  display: flex;
  align-items: center;
}
.feed-name-container{
  display: flex;
  flex-flow: column;
  font-size: 3vw;
  color: var(--grey);
}
.feed-like{
  height: 5vh;
  width: 5vh;
  margin-right: 1vh;
}
.feed-name-container{
  width: 65vw;

}
.feed-name-container a{
  text-decoration: none;
}
.feed-interaction-container{
  color: var(--grey);
  align-items: center;
  justify-content: space-between;
  display: flex;
  font-size: 3vh;
}
.feed-interaction-container div{
  margin-left: 1vh;
}
.feed-description{
  font-size: 34px;
  padding: 0 1vh 10vh 1vh;
}
.feed-edit{
  height: 5vh;
  width: 5vh;
  margin-left: 0vw;
}
