.login-container{
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-flow: column;
  height: 100vh;
}
.login-logo{
  height: 30vh;
  margin-top: 10vh;
}
.login-error-container{
  height: 7vh;
}
.login-error{
  font-size: 3vh;
  color: var(--error);
  font-weight: 600;
}
.login-form{
  width: 70%;
}
.login-button{
  font-family: 'Dosis', sans-serif;
  font-weight: semibold;
  color: var(--bg-color);
  font-size: 4vh;
  height: 8vh;
  width: 100%;
  background-color: var(--primary);
  letter-spacing: 1vw;
  border-radius: 3vh;
}
.login-input{
  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--font);
  width: 100%;
  font-size: 3vh;
  color: var(--grey);
}
.login-label{
  position: absolute;
  font-size: 4vh;
  text-align: center;
  transform: translateY(-6vh);
}
.login-group{
  margin: 3vh 0;
  height: 10vh;
}

.login-register{
  font-size: 2vh;
  padding-bottom: 2vh;

}
.register-link{
  color: var(--primary);

}