.all-messages-container{
    height: 63vh;
    width: 70%;
    overflow: scroll;
   
    
}
.new-message-container{
    height: 25vh;
    bottom: 7vh;
    /* position: absolute; */
    z-index: 2;
    width: 100%;
}
.message-section{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 93vh;
}
.message-username-headline{
    font-size: 4vh;
    margin-left: 4vw;
}
.message-container{
    max-width: 84vw;
    margin: 1vh 10vw 0 2vw;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 25px;
}
.own-message-container {
    max-width: 84%;
    margin: 1vh 2vw 0 10vw;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 25px;
     background-color: var(--primary);
}
.message{
    width: 86%;
    font-size: 36px;
}
.conversations-container{
    width: 90%;
}