.all-message-container{
    height: 50vh;
}
.new-message-container{
    height: 25vh;
    bottom: 9vh;
}
.message-section{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 93vh;
}
.message-username-headline{
    font-size: 4vh;
    margin-left: 4vw;
}
.message-container{
    max-width: 84vw;
    font-size: 2vh;
    margin: 1vh 10vw 0 2vw;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 25px;
}
.own-message-container {
  max-width: 84vw;
  font-size: 2vh;
  margin: 1vh 2vw 0 10vw;
  padding: 1vh;
  border: 1px solid black;
  border-radius: 25px;
  background-color: var(--primary);
}
.message{
    width: 86vw;
}