.navbar{
  height: 7vh;
  width: 100%;
  background-color: var(--primary);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;

}
.navbar-icon{
  background-color: transparent;
  color: white;
  height: 5vh;
  width: 5vh;
  /* padding: 0 5vw; */
}
.navbar-icon path{
  color: white;
}
