.post-upload{
  font-family: 'Dosis', sans-serif;
  font-weight: semibold;
  color: var(--bg-color);
  font-size: 4vh;
  height: 8vh;
  width: 70vw;
  background-color: var(--primary);
  letter-spacing: 1vw;
  border-radius: 3vh;
  margin-top: 4vh;
}
.post-upload-container{
  font-size: 2vh;
}
.post-preview{
  width: 80vw;
  height: 80vw;
  margin: 2vh 2vh;
}
.post-preview-container{
  width: 80vw;
  height: 80vw;
}
.post-container{
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100vw;
  height: 93vh;
  margin: 0;
}
.post-description-container{
  font-size: 2vh;
}
.post-description{
  border: 3px solid black;
  width: 90vw;
  height: 20vh;
  font-size: 2vh;
}
.post-form{
  width: 90%;
  height: 93vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.post-file{
  font-family: 'Dosis', sans-serif;
  color: white;
  background-color: var(--primary);
  font-size: 3vh;
  width: 30vw;
}
/* EXTRA DESIGN FOR EDIT POST*/
.edit-post-container{
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 93vh;
}
.edit-post-preview{
  width: 90vw;
  height:  90vw;
}
