.search-section{
  min-height: 93vh;
}
.search-form {
  padding-top: 2vh;
  display: flex;
  justify-content: center;
  height: 6vh;
  font-size: 2.5vh;
  width: 100%;
}

.search-bar{
     display: flex;
     flex-flow: column;
     align-items: center;
     padding-top: 2vh;
}
.search-input {
  height: 6vh;
  font-size: 2.5vh;
  width: 90%;
  border: 1px solid black;
  padding-left: 2vw;
}
.search-p{
    font-size: 2.5vh;
}
.search-results{
  padding-bottom: 9vh;
  margin-top: 2vh;
}
.search-found-users{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2vh;
}

.search-username {
  font-weight: bold;
  margin-left: 2vw;
}
.search-name{
  margin-left: 2vw;
  font-weight: 200;
}